.productcard {
    width: 345px;
    height: 360px;
    border: 1px solid #989898;
    display: flex;
    flex-direction: column;
}

.productBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e9e9e9;
}

.productBottomLeft {
    font-size: 20px;
    line-height: 21px;
}

.productBottomLeft p:first-child {
    margin-bottom: 12px;
}